body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(lavender,#eec2f6);
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: purple;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  align-items: center;
  font-size:1.5em;
  font-weight: bold;
}

header button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;

}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
  background-color: #dddddd6a;
  color: black;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid transparent;
  min-width: 50%;
}

nav,
article {
  height: 100%;
  padding: 10px;
  overflow: scroll;
}

nav {
  background-color: skyblue;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
  text-wrap: wrap;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
